<style type="text/css">
.irating{
	position: relative;
	font-size: 20px;
	top: 14%;
	font-weight: bold;
	font-size: 30px;
	color: red;
}

.cont p {
	font-size: 12px;
}

.irating span span{
	color:gray;
}

.indrating span{
	color: red;
}

.indrating span span{
	color: gray;
}

</style>
<br>
<div class="post-box col-xs-10 col-xs-offset-1">
	<h3>Top places by average rating!</h3>
	<% @places.each do |place| %>
		<p> <%= place.name %> - 
		<%= place.average_rating %><br></p>
	<% end %>
</div>

<% @places.each do |place| %>
	<div class="post-box col-xs-10 col-xs-offset-1">
		<div class="pull-right">
		<% if place.user.present? %>
		<% end %>
		</div>
		<h1><%= link_to place.name, place_path(place) %></h1>	<!--replaces place.name -->
			<div class = "irating">
			<span><% place.average_rating.to_i.times do %>
			<i class="glyphicon glyphicon-plus-sign"></i>
			<% end %><span>
			<% place.neg_rating.to_i.times do %>
			<i class="glyphicon glyphicon-minus-sign"></i>
			<% end %>
			</span>
			</div>
		<i><%= place.address %></i><br><br>
		<p><%= place.description %></p>

			<% if place.comments.with_message.present? %>			<!-- last review -->
			<div class="col-xs-12">
		  	<blockquote>
		  		<div class= "indrating">
		  		<span>
				<% if place.comments.with_message.last.rating.present? %>
			    <% place.comments.with_message.last.rating.to_i.times do %>
			    <i class="glyphicon glyphicon-plus-sign"></i>
			    <% end %><span>
			    <% place.comments.with_message.last.neg_rating.to_i.times do %>
			    <i class="glyphicon glyphicon-minus-sign"></i>
			   	<% end %>
			</span>
			<% end %>
			<span>
		    <%= place.comments.with_message.last.message %>
		    <small><%= place.comments.with_message.last.user.email %></small>
		  	</blockquote>
</div>
<% end %>

</div>
<% end %>


<div id="pag"
	<div class="digg_pagination">
		<%= will_paginate @places %>
	</div>
</div>